ib/eot/eot.so
.gem
.rbc
.rspec
.bundle
.config
.settings
.yardoc
_yardoc
Gemfile.lock
.idea

coverage
doc
lib/bundler/man
lib/eot/eot.bundle
pkg
rdocs
ri
spec/reports
test/tmp
test/version_tmp
tmp
ext/eot/ceot.o
ext/eot/eot.o
ext/eot/Makefile
