.gem
.rbc
.rspec
.bundle
.config
.ruby-version
.yardoc
Gemfile.lock

InstalledFiles
_yardoc
coverage
doc
lib/bundler/man
pkg
rdocs
spec/reports
test/tmp
test/version_tmp
tmp
ext/eot/*.o
ext/eot/*.so
ext/eot/Makefile
lib/eot/eot.so